@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');





// Colors
$black: #2d2828;
$lightGrey: rgba(0, 0, 0, 0.1);
$darkGrey: rgba(0, 0, 0, 0.8);
$primaryColor: #0027ec;
$white: white;


// Typography
$serif: "Playfair Display";
$poppins: "Poppins";
$normal: 200;
$heavyWeight: 900;
$regular: 400;
$medium: 500;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: $regular;
}

h1 {
    font-size: 50px;
}


body {
    color: $black;
    font-family: $poppins;
    font-weight: $normal;
    font-size: 14px;
    mix-blend-mode: difference;
    overflow-x: hidden;
    margin: 0px;

}


.container {
    min-width: 1200px;
    margin: 0 75px;
    @media (max-width: 1200px) {
      width: 1200px;
      min-width: 1200px;
    }
    @media (max-width: 1080px) {
      width: 976px;
      min-width: 976px;
    }
    @media (max-width: 976px) {
      width: 768px;
      min-width: 768px;
    }
}


//HEADER
header {
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 100;
    .inner-header{
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;

        .logo{
            a {
                color: $black;
                font-size: 25px;
                font-weight: $medium;
                text-decoration: none;
                letter-spacing: 2px;

            }
        }
        .navigation{
            nav{
                a {
                    color: $black;
                    text-decoration: none;
                    font-family: $serif;
                    font-size: 18px;
                    letter-spacing: 2px;
                    font-weight: $medium;
                    margin: 0 20px;
                }
            }

        }
    }
}


//abovefooter
 letstalk {
     height: auto;
     background: #2D2828;
     display: flex;
     justify-content: center;
     color: white;
     padding: 50px;
     .container{
         justify-content: center;
         text-align: center;
          }
          .textcontent {
              max-width: 650px;
              margin:0 auto;
          }
 }




//Footer
footer {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
        .container{
            width: 100%;
        }
            .inner-footer{
                align-items: center;
                display: flex;
                justify-content: space-between;
                .copyright{
                    align-items: center;
            }

        }
}
//cover
.cover {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        text-align: center;
        align-items: center;
        width: 550px;

    }
}

//bttons
.btn {
    font-family: $serif;
    margin: 25px;
    background: blue;
    border: 0px;
    padding: 15px 40px;
    color: $white;
    border: solid 0px 5px 5px 0px;
    border-color: yellow;
}


//section2
.section2 {
    height: auto;
    padding: 70px 0px;
    background: rgb(238, 238, 238);
    .container{
        width: 100%;
    }
    .imagered {
        width: 50%;
        margin: 0px auto;
        position: relative;
    }
    .image2 {
        text-align: right;
        width: 50%;
    }

}
