@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');




// Colors
$black: #2d2828;
$lightGrey: rgba(0, 0, 0, 0.1);
$darkGrey: rgba(0, 0, 0, 0.8);
$primaryColor: #0027ec;
$white: rgba(255, 255, 255, 0);


// Typography
$serif: "Playfair Display";
$poppins: "Poppins";
$normal: 200;
$heavyWeight: 900;
$regular: 400;
$medium: 500;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: $regular;
}

h1 {
    font-size: 50px;
}


body {
    color: $black;
    font-family: $poppins;
    font-weight: $normal;
    font-size: 14px;
    mix-blend-mode: difference;
    overflow-x: hidden;
    margin: 0px;

}


.container {
    width: 100%;
    min-width: 1080px;
    margin: 0 auto;
    @media (max-width: 1080px) {
      width: 1080px;
      min-width: 1080px;
    }
    @media (max-width: 1080px) {
      width: 976px;
      min-width: 976px;
    }
    @media (max-width: 976px) {
      width: 768px;
      min-width: 768px;
    }
}


//HEADER
header {
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 100;
    .inner-header{
        margin: 0px 50px;
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;

        .logo{
            a {
                color: $black;
                font-size: 25px;
                font-weight: $medium;
                text-decoration: none;
                letter-spacing: 2px;

            }
        }
        .navigation{
            nav{
                a {
                    color: $black;
                    text-decoration: none;
                    font-family: $serif;
                    font-size: 18px;
                    letter-spacing: 2px;
                    font-weight: $medium;
                    margin: 0 20px;
                }
            }

        }
    }
}


//abovefooter
section2 {
    .row{
        width: 100%;
        .column {
            width: 50%;
        }
    }
}




//Footer
footer {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
            .inner-footer{
                align-items: center;
                margin: 0px 50px;
                display: flex;
                justify-content: space-between;
                .copyright{
                    align-items: center;
            }

        }
}
//cover
.cover {
    height: 90vh;
    align-items: center;
    display: flex;
    .container{
        max-width: 650px;
        text-align: center;
        align-items: center;
    }
}

